@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
	/* Colors */
	--color-accent:         #609FFF;
	--color-accent-focus:   #4d85d8;
	--color-accent-inverse: #FFFFFF;
	--color-basic-text:     #000000;
	--color-grey-light:     #DDDDDD;
	--color-grey-medium:    #A9A9A9;

	--font-poppins: 'Poppins', sans-serif;
	font-family: var(--font-poppins);
}

html, body, form, input {
	border: 0px;
	margin: 0px;
	padding: 0px;

	font-family: var(--font-poppins);
	font-weight: 300;
	font-size: 14px;
}

body {
	background-color: white;
}

a {
	color: var(--color-accent);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#title {
	font-weight: 600;
	line-height: 0.9;
	cursor: default;
	user-select: none;
}

.global-h2 {
	font-weight: 300;
	font-size: 32px;
}

.global-h3 {
	font-weight: 300;
	font-size: 24px;
}

.global-h4 {
	font-weight: 300;
	font-size: 20px;	
}

.global-regular-text-accent {
	font-weight: 500;
	font-size: 14px;
}

.global-grey-text {
	color: var(--color-grey-medium);
}

.global-text-input {
	border: 1px solid var(--color-grey-light);
	padding: 20px;
}

.global-text-input:focus {
	outline: none;
	border: 1px solid var(--color-accent);
}

.global-text-input::placeholder {
	color: var(--color-grey-medium);
}

.global-button-accent {
	border: 0px;
	background-color: var(--color-accent);
	color: var(--color-accent-inverse);
	cursor: pointer;
}

.global-button-accent:hover {
	background-color: var(--color-accent-focus);
}

.global-button-accent:focus {
	outline: none;
	border: 1px solid var(--color-accent-focus);
}

a.global-button-accent {
	display: flex;
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	max-height: 30px;
	align-items: center;
}

a.global-button-accent:hover {
	text-decoration: none;
}

a.global-icon-button {
	padding-left: 17px;
	gap: 7px;
}

a.global-icon-button img {
	height: 16px;
}