@import url(./global.css);

#content {
	height: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#title {
	font-size: 3.4rem;
	padding-bottom: 3.2rem;
}

#login-form {
	display: flex;
	flex-direction: column;
}

#login-error {
	background-color: var(--color-error-bg);
	color: var(--color-error-text);
	padding: 1rem;
	text-align: center;
	margin-bottom: 0.7rem;
}

#login-form input {
	width: 24rem;
	height: 4.3rem;
	margin-bottom: 0.7rem;
}

#register-link {
	padding-top: 0.7rem;
	text-align: center;
}

.large-text-input {
	padding: 1.2rem;
}