@import url(./global.css);

#content {
	display: flex;
}

#title {
	font-size: 48px;
	font-weight: 600;
	line-height: 0.9;
	padding-bottom: 55px;
}

#login-form {
	display: flex;
	flex-direction: column;
}

#login-form input {
	width: 320px;
	height: 60px;
	margin-bottom: 12px;
}

#register-link {
	padding-top: 10px;
	text-align: center;
}