#main-layout {
    display: flex;

    padding-left: 11rem;
    padding-right: 11rem;
    padding-top: 5.5rem;
    padding-bottom: 3rem;
    gap: 17rem;
}

#menu {
    position: sticky;
    top: 5.5rem;
}

#menu #title {
    font-size: 2.2rem;
}

#user-bar {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 7px;
}

#user-image {
    width: 25px;
    height: 25px;
}

#user-image img {
    width: 25px;
    height: 25px;
}

#menu-list {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#menu-list a {
    color: black;
}