#main-layout {
    display: flex;

    padding-left: 11rem;
    padding-right: 11rem;
    padding-top: 5.5rem;
    padding-bottom: 3rem;
    gap: 17rem;
}

#menu {
    position: sticky;
    top: 5.5rem;
}

#menu #title {
    font-size: 2.2rem;
}

#user-bar {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#user-image {
    width: 1.7rem;
    height: 1.7rem;
}

#user-image img {
    width: 100%;
    height: 100%;
}

#menu-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.33rem;
}

#menu-list a {
    color: black;
}