#main-layout {
    display: flex;

    padding-left: 160px;
    padding-right: 160px;
    padding-top: 70px;
    gap: 210px;
}

#menu #title {
    font-size: 32px;
}

#user-bar {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 7px;
}

#user-image {
    width: 25px;
    height: 25px;
}

#user-image img {
    width: 25px;
    height: 25px;
}

#menu-list {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#menu-list a {
    color: black;
}