@import url(./global.css);
@import url(./menu.css);

#main-layout {
    display: flex;

    padding-left: 160px;
    padding-right: 160px;
    padding-top: 70px;
    gap: 210px;
}

#header {
    display: flex;
    align-items: center;
    gap: 25px;
}

#storyboard-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;

    padding-top: 70px;
    --element-width: 290px;
}

#storyboard-grid>div {
    width: var(--element-width);
}

#storyboard-grid>div>.storyboard-placeholder>img {
    object-fit: contain;
    width: 100%;
}

#storyboard-grid>div>.storyboard-description {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
}

#storyboard-grid>div>.storyboard-description>div.global-h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}