@import url(./global.css);
@import url(./menu.css);

#header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#storyboard-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3.3rem;

    padding-top: 5rem;
    --element-width: 20rem;
}

#storyboard-grid>div {
    width: var(--element-width);
    cursor: pointer;
}

#storyboard-grid>div:hover>.storyboard-description>.global-h4 {
    text-decoration: underline;
}

#storyboard-grid>div>.storyboard-placeholder>img {
    object-fit: contain;
    width: 100%;
}

#storyboard-grid>div>.storyboard-description {
    padding: 0.5rem 0.9rem 0rem;
}

#storyboard-grid>div>.storyboard-description>div.global-h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}