.storyboard-overlay {
    display: flex;
}

.storyboard-overlay>div {
    height: 80vh;
}

.storyboard-overlay>.overlay-left {
    width: 107vh;
    background-color: black;
}

.storyboard-overlay>.overlay-right {
    background-color: white;
    width: 30rem;

    display: flex;
    flex-direction: column;
}

.storyboard-overlay>.overlay-right>div {
    padding: 2rem;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    gap: 1.33rem;
}

.dialog-overlay {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    min-width: 30rem;
}

.dialog-overlay .global-text-input {
	box-sizing: border-box;
    width: 100%;
}

.dialog-overlay > div:not(:first-child) {
    padding-top: 1rem;
}

.dialog-overlay .dialog-buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    gap: 1rem;
}

.dialog-overlay .dialog-buttons input {
    width: 8rem;
    height: 2.3rem;
    justify-content: center;
}

#options-panel {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    overflow-y: scroll;

    padding-top: 0px;
}

/* All options (the main versions selector too) are option blocks */
.option-block {
    border: 0.1rem solid var(--color-grey-light);
    padding: 1rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    transition: opacity var(--time-unit);
}

.option-upper-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
