.storyboard-overlay {
    display: flex;
}

.storyboard-overlay>div {
    height: 80vh;
}

.storyboard-overlay>.overlay-left {
    width: 107vh;
    background-color: black;
}

.storyboard-overlay>.overlay-right {
    background-color: white;
    width: 30rem;

    display: flex;
    flex-direction: column;
}

.storyboard-overlay>.overlay-right>div {
    padding: 2rem;
}

#options-panel {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    overflow-y: scroll;

    padding-top: 0px;
}

.storyboard-overlay>.overlay-right>div>.header {
    display: flex;
    justify-content: space-between;
    gap: 1.33rem;
}

/* All options (the main versions selector too) are option blocks */
.option-block {
    border: 0.1rem solid var(--color-grey-light);
    padding: 1rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    transition: opacity var(--time-unit);
}

.option-upper-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
